/* _content/app/Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-f8m1hl3236] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-f8m1hl3236] {
  color: #0077cc;
}

.btn-primary[b-f8m1hl3236] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-f8m1hl3236], .nav-pills .show > .nav-link[b-f8m1hl3236] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-f8m1hl3236] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-f8m1hl3236] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-f8m1hl3236] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-f8m1hl3236] {
  font-size: 1rem;
  line-height: inherit;
}

/*.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}*/


.footer[b-f8m1hl3236] {
    position: relative;
    padding: 30px 0 0 0;
    background: #ffffff;
}

    .footer .footer-widget[b-f8m1hl3236] {
        position: relative;
        width: 100%;
        margin-bottom: 30px;
    }

        .footer .footer-widget h2[b-f8m1hl3236] {
            font-size: 25px;
            white-space: nowrap;
            margin-bottom: 20px;
        }

        .footer .footer-widget ul[b-f8m1hl3236] {
            margin: 0;
            padding: 0;
            list-style: none;
        }

            .footer .footer-widget ul li[b-f8m1hl3236] {
                margin-bottom: 12px;
            }

                .footer .footer-widget ul li:last-child[b-f8m1hl3236] {
                    margin-bottom: 0;
                }

                .footer .footer-widget ul li a[b-f8m1hl3236] {
                    color: #353535;
                    white-space: nowrap;
                    display: block;
                    line-height: 23px;
                    transition: all .3s;
                }

                    .footer .footer-widget ul li a[b-f8m1hl3236]::before {
                        content: '\f105';
                        font-family: 'Font Awesome 5 Free';
                        font-weight: 900;
                        padding-right: 5px;
                    }

                    .footer .footer-widget ul li a:hover[b-f8m1hl3236] {
                        color: #FF6F61;
                    }

                        .footer .footer-widget ul li a:hover[b-f8m1hl3236]::before {
                            content: '\f101';
                            font-family: 'Font Awesome 5 Free';
                            font-weight: 900;
                        }

    .footer .contact-info p[b-f8m1hl3236] {
        margin-bottom: 10px;
        font-size: 16px;
    }

        .footer .contact-info p i[b-f8m1hl3236] {
            margin-right: 5px;
        }

    .footer .social[b-f8m1hl3236] {
        position: relative;
        width: 100%;
    }

        .footer .social a[b-f8m1hl3236] {
            display: inline-block;
            margin: 10px 5px 0 0;
            width: 40px;
            height: 40px;
            padding: 6px 0;
            text-align: center;
            font-size: 18px;
            color: #353535;
            border: 1px solid #353535;
            border-radius: 4px;
            transition: all .3s;
        }

            .footer .social a:hover[b-f8m1hl3236] {
                color: #FF6F61;
                border-color: #FF6F61;
            }

    .footer .payment[b-f8m1hl3236] {
        padding-top: 25px;
        padding-bottom: 25px;
        border-top: 1px solid rgba(0,0,0,.1);
    }

@media (min-width: 992px) {
    .footer .payment[b-f8m1hl3236] {
        max-width: 80%;
        margin: 0 auto;
    }
}

.footer .payment-method[b-f8m1hl3236],
.footer .payment-security[b-f8m1hl3236] {
    overflow: hidden;
}

.footer .payment-method[b-f8m1hl3236] {
    text-align: left;
}

.footer .payment-security[b-f8m1hl3236] {
    text-align: right;
}

@media (max-width: 768.98px) {
    .footer .payment-method[b-f8m1hl3236] {
        margin-bottom: 15px;
    }

    .footer .payment-method[b-f8m1hl3236],
    .footer .payment-security[b-f8m1hl3236] {
        text-align: center;
    }
}

.footer .payment-method h2[b-f8m1hl3236],
.footer .payment-security h2[b-f8m1hl3236] {
    display: inline-block;
    margin: 0 10px 0 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}

.footer .payment-method img[b-f8m1hl3236],
.footer .payment-security img[b-f8m1hl3236] {
    height: 25px;
}


/**********************************/
/******** Footer Bottom CSS *******/
/**********************************/
.footer-bottom[b-f8m1hl3236] {
    position: relative;
    padding: 25px 0;
    background: #000000;
}

    .footer-bottom .copyright[b-f8m1hl3236] {
        text-align: left;
    }

    .footer-bottom .template-by[b-f8m1hl3236] {
        text-align: right;
    }

        .footer-bottom .copyright p[b-f8m1hl3236],
        .footer-bottom .template-by p[b-f8m1hl3236] {
            color: #ffffff;
            font-weight: 400;
            margin: 0;
        }

            .footer-bottom .copyright p a[b-f8m1hl3236],
            .footer-bottom .template-by p a[b-f8m1hl3236] {
                font-weight: 600;
            }

                .footer-bottom .copyright p a:hover[b-f8m1hl3236],
                .footer-bottom .template-by p a:hover[b-f8m1hl3236] {
                    color: #ffffff;
                }

@media (max-width: 768.98px) {
    .footer-bottom .copyright[b-f8m1hl3236],
    .footer-bottom .template-by[b-f8m1hl3236] {
        text-align: center;
    }
}
/**********************************/
/******** bottom bar CSS *******/
/**********************************/
.bottom-bar[b-f8m1hl3236] {
    padding: 15px 0;
    background: #ffffff;
    margin-bottom: 30px;
}

    .bottom-bar .logo[b-f8m1hl3236] {
        text-align: left;
        overflow: hidden;
    }

        .bottom-bar .logo a img[b-f8m1hl3236] {
            max-height: 60px;
        }

    .bottom-bar .search[b-f8m1hl3236] {
        width: 100%;
    }

        .bottom-bar .search input[type=text][b-f8m1hl3236] {
            width: 100%;
            height: 40px;
            padding: 0 15px;
            color: #666666;
            border: 1px solid #FF6F61;
            border-radius: 4px;
        }

        .bottom-bar .search button[b-f8m1hl3236] {
            position: absolute;
            width: 40px;
            height: 38px;
            top: 1px;
            right: 16px;
            padding: 0 15px;
            border: none;
            background: none;
            color: #FF6F61;
            border-radius: 0 2px 2px 0;
        }

            .bottom-bar .search button:hover[b-f8m1hl3236] {
                background: #FF6F61;
                color: #ffffff;
            }

    .bottom-bar .user[b-f8m1hl3236] {
        font-size: 0;
        text-align: right;
    }

        .bottom-bar .user .wishlist[b-f8m1hl3236] {
            margin-right: 15px;
        }

            .bottom-bar .user .cart i[b-f8m1hl3236],
            .bottom-bar .user .wishlist i[b-f8m1hl3236] {
                color: #FF6F61;
            }

            .bottom-bar .user .cart span[b-f8m1hl3236],
            .bottom-bar .user .wishlist span[b-f8m1hl3236] {
                color: #FF6F61;
                font-size: 15px;
            }

            .bottom-bar .user .cart:hover i[b-f8m1hl3236],
            .bottom-bar .user .wishlist:hover i[b-f8m1hl3236],
            .bottom-bar .user .cart:hover span[b-f8m1hl3236],
            .bottom-bar .user .wishlist:hover span[b-f8m1hl3236] {
                color: #ffffff;
            }

@media (min-width: 768px) {
    .bottom-bar[b-f8m1hl3236] {
        max-height: 90px;
    }
}

@media (max-width: 767.98px) {
    .bottom-bar .logo[b-f8m1hl3236],
    .bottom-bar .search[b-f8m1hl3236],
    .bottom-bar .user[b-f8m1hl3236] {
        text-align: center;
        margin-bottom: 15px;
    }

    .bottom-bar .user[b-f8m1hl3236] {
        margin-bottom: 0;
    }
}

/**********************************/
/******** Back to Top CSS *********/
/**********************************/
.back-to-top[b-f8m1hl3236] {
    position: fixed;
    display: none;
    background: #FF6F61;
    color: #FF6F61;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 4px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
}


/**********************************/
/*********** Brand CSS ************/
/**********************************/
.brand[b-f8m1hl3236] {
    position: relative;
    margin-bottom: 30px;
    padding: 30px 0;
    background: #ffffff;
    
}
.brand .brand-item[b-f8m1hl3236] {
    text-align: center; 
}

.brand .brand-item img[b-f8m1hl3236] {
    max-width: 100%;
    margin: auto; 
}
.brand .slick-prev[b-f8m1hl3236],
.brand .slick-next[b-f8m1hl3236] {
    width: 40px;
    height: 40px;
    z-index: 1;
    opacity: 0;
    transition: .5s;
    background: #FF6F61;
    border-radius: 4px;
}

.brand .slick-prev[b-f8m1hl3236] {
    left: 55px;
}

.brand .slick-next[b-f8m1hl3236] {
    right: 55px;
}

.brand .slick-slider:hover .slick-prev[b-f8m1hl3236] {
    left: 15px;
    opacity: 1;
}

.brand .slick-slider:hover .slick-next[b-f8m1hl3236] {
    right: 15px;
    opacity: 1;
}

.brand .slick-prev:hover[b-f8m1hl3236],
.brand .slick-prev:focus[b-f8m1hl3236],
.brand .slick-next:hover[b-f8m1hl3236],
.brand .slick-next:focus[b-f8m1hl3236] {
    background: #000000;
}

.brand .slick-prev:hover[b-f8m1hl3236]::before,
.brand .slick-prev:focus[b-f8m1hl3236]::before,
.brand .slick-next:hover[b-f8m1hl3236]::before,
.brand .slick-next:focus[b-f8m1hl3236]::before {
    color: #FF6F61;
}

.brand .slick-prev[b-f8m1hl3236]::before,
.brand .slick-next[b-f8m1hl3236]::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 30px;
    color: #000000;
}

.brand .slick-prev[b-f8m1hl3236]::before {
    content: "\f104";
}

.brand .slick-next[b-f8m1hl3236]::before {
    content: "\f105";
}
.brand-slider[b-f8m1hl3236] {
    display: flex;
    /*transition: .5s;
    border-radius: 4px;
    text-align: center;*/
    animation-name: move;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
