@page
@model app.Pages.DetailProductsModel
@{
}
<div class=" text-center">
    <div class="maintext">

    </div>
    <div class="container">
        <div class="row">
            <div class=" col-12 mb-5 mt-5">
                <div class="w-100 row makeYourOwnDiv">
                    <div class="col-4">
                        <img src="@Model.DBProduct.ImageTitle" class="w-100" />
                    </div>
                    <div class="col-8 alig-items-center">
                        <div class="algin-middle makeYourOwnText" style="float:left">
                            <h3 style="text-align:left;">@Model.DBProduct.ProductName</h3>
                            <p style="text-align:left;"><h5 class="rating">
                            <!--  <input type="hidden" class="rating" value="4"/> -->
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                        </h5> </p>
                        
                        
                            <h4 style="float:center">@Model.DBProduct.Description</h4>
                            <a style="float:center">@Model.DBProduct.Price</a>
                            <br/>
                            <a class=" btn btn-primary" style="float:center" asp-area="" asp-page="Checkout/ThankYou">Get It</a>
                            
                        </div>
                    </div>
                </div>
            </div>

             
                    <div class="row">
             <br/>
             
                <!--var imagePath ="~/images/Pizzas/" + (pizza.ImageTitle + ".png");-->
                
                    
              
    </div>
</div>