@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-capitalize text-black">Welcome to Book Store</h1>
        <h2 class="mainSubTitle">The Knowledge Society</h2>
        <img  class="mainImage" src="~/images/Pizzas/dayconlamgiau.jpg" style="width:18rem ; height:18rem" />

        <br/>
        <a class="btn btn-primary mt-1" asp-area="" asp-page="Checkout/ThankYou">Bring me that KNOWLEDGE</a>
    </div>
    
</div>

