@page
@model app.Pages.Checkout.CheckoutModel
@{
}
<h1>Details!</h1>
@{
    var imagePath = "~/images/Pizzas/" + (@Model.ImageTitle + ".jpg");
}
<div class="align-content-center">
    <div class="col-3 mx-auto mb-5">
        <img src="@imagePath" class="w-100" asp-append-version = "true"/>
        <p>"@Model.PizzaName"</p>
        <p>Giá: @Model.PizzaPrice $</p>
        <br/>
        <a class="btn btn-primary mt-1 mx-auto" asp-area="" asp-page="ThankYou">Confirm Order</a>
    </div>
</div>