/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/*.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}*/


.footer {
    position: relative;
    padding: 30px 0 0 0;
    background: #ffffff;
}

    .footer .footer-widget {
        position: relative;
        width: 100%;
        margin-bottom: 30px;
    }

        .footer .footer-widget h2 {
            font-size: 25px;
            white-space: nowrap;
            margin-bottom: 20px;
        }

        .footer .footer-widget ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

            .footer .footer-widget ul li {
                margin-bottom: 12px;
            }

                .footer .footer-widget ul li:last-child {
                    margin-bottom: 0;
                }

                .footer .footer-widget ul li a {
                    color: #353535;
                    white-space: nowrap;
                    display: block;
                    line-height: 23px;
                    transition: all .3s;
                }

                    .footer .footer-widget ul li a::before {
                        content: '\f105';
                        font-family: 'Font Awesome 5 Free';
                        font-weight: 900;
                        padding-right: 5px;
                    }

                    .footer .footer-widget ul li a:hover {
                        color: #FF6F61;
                    }

                        .footer .footer-widget ul li a:hover::before {
                            content: '\f101';
                            font-family: 'Font Awesome 5 Free';
                            font-weight: 900;
                        }

    .footer .contact-info p {
        margin-bottom: 10px;
        font-size: 16px;
    }

        .footer .contact-info p i {
            margin-right: 5px;
        }

    .footer .social {
        position: relative;
        width: 100%;
    }

        .footer .social a {
            display: inline-block;
            margin: 10px 5px 0 0;
            width: 40px;
            height: 40px;
            padding: 6px 0;
            text-align: center;
            font-size: 18px;
            color: #353535;
            border: 1px solid #353535;
            border-radius: 4px;
            transition: all .3s;
        }

            .footer .social a:hover {
                color: #FF6F61;
                border-color: #FF6F61;
            }

    .footer .payment {
        padding-top: 25px;
        padding-bottom: 25px;
        border-top: 1px solid rgba(0,0,0,.1);
    }

@media (min-width: 992px) {
    .footer .payment {
        max-width: 80%;
        margin: 0 auto;
    }
}

.footer .payment-method,
.footer .payment-security {
    overflow: hidden;
}

.footer .payment-method {
    text-align: left;
}

.footer .payment-security {
    text-align: right;
}

@media (max-width: 768.98px) {
    .footer .payment-method {
        margin-bottom: 15px;
    }

    .footer .payment-method,
    .footer .payment-security {
        text-align: center;
    }
}

.footer .payment-method h2,
.footer .payment-security h2 {
    display: inline-block;
    margin: 0 10px 0 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}

.footer .payment-method img,
.footer .payment-security img {
    height: 25px;
}


/**********************************/
/******** Footer Bottom CSS *******/
/**********************************/
.footer-bottom {
    position: relative;
    padding: 25px 0;
    background: #000000;
}

    .footer-bottom .copyright {
        text-align: left;
    }

    .footer-bottom .template-by {
        text-align: right;
    }

        .footer-bottom .copyright p,
        .footer-bottom .template-by p {
            color: #ffffff;
            font-weight: 400;
            margin: 0;
        }

            .footer-bottom .copyright p a,
            .footer-bottom .template-by p a {
                font-weight: 600;
            }

                .footer-bottom .copyright p a:hover,
                .footer-bottom .template-by p a:hover {
                    color: #ffffff;
                }

@media (max-width: 768.98px) {
    .footer-bottom .copyright,
    .footer-bottom .template-by {
        text-align: center;
    }
}
/**********************************/
/******** bottom bar CSS *******/
/**********************************/
.bottom-bar {
    padding: 15px 0;
    background: #ffffff;
    margin-bottom: 30px;
}

    .bottom-bar .logo {
        text-align: left;
        overflow: hidden;
    }

        .bottom-bar .logo a img {
            max-height: 60px;
        }

    .bottom-bar .search {
        width: 100%;
    }

        .bottom-bar .search input[type=text] {
            width: 100%;
            height: 40px;
            padding: 0 15px;
            color: #666666;
            border: 1px solid #FF6F61;
            border-radius: 4px;
        }

        .bottom-bar .search button {
            position: absolute;
            width: 40px;
            height: 38px;
            top: 1px;
            right: 16px;
            padding: 0 15px;
            border: none;
            background: none;
            color: #FF6F61;
            border-radius: 0 2px 2px 0;
        }

            .bottom-bar .search button:hover {
                background: #FF6F61;
                color: #ffffff;
            }

    .bottom-bar .user {
        font-size: 0;
        text-align: right;
    }

        .bottom-bar .user .wishlist {
            margin-right: 15px;
        }

            .bottom-bar .user .cart i,
            .bottom-bar .user .wishlist i {
                color: #FF6F61;
            }

            .bottom-bar .user .cart span,
            .bottom-bar .user .wishlist span {
                color: #FF6F61;
                font-size: 15px;
            }

            .bottom-bar .user .cart:hover i,
            .bottom-bar .user .wishlist:hover i,
            .bottom-bar .user .cart:hover span,
            .bottom-bar .user .wishlist:hover span {
                color: #ffffff;
            }

@media (min-width: 768px) {
    .bottom-bar {
        max-height: 90px;
    }
}

@media (max-width: 767.98px) {
    .bottom-bar .logo,
    .bottom-bar .search,
    .bottom-bar .user {
        text-align: center;
        margin-bottom: 15px;
    }

    .bottom-bar .user {
        margin-bottom: 0;
    }
}

/**********************************/
/******** Back to Top CSS *********/
/**********************************/
.back-to-top {
    position: fixed;
    display: none;
    background: #FF6F61;
    color: #FF6F61;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 4px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
}


/**********************************/
/*********** Brand CSS ************/
/**********************************/
.brand {
    position: relative;
    margin-bottom: 30px;
    padding: 30px 0;
    background: #ffffff;
    
}
.brand .brand-item {
    text-align: center; 
}

.brand .brand-item img {
    max-width: 100%;
    margin: auto; 
}
.brand .slick-prev,
.brand .slick-next {
    width: 40px;
    height: 40px;
    z-index: 1;
    opacity: 0;
    transition: .5s;
    background: #FF6F61;
    border-radius: 4px;
}

.brand .slick-prev {
    left: 55px;
}

.brand .slick-next {
    right: 55px;
}

.brand .slick-slider:hover .slick-prev {
    left: 15px;
    opacity: 1;
}

.brand .slick-slider:hover .slick-next {
    right: 15px;
    opacity: 1;
}

.brand .slick-prev:hover,
.brand .slick-prev:focus,
.brand .slick-next:hover,
.brand .slick-next:focus {
    background: #000000;
}

.brand .slick-prev:hover::before,
.brand .slick-prev:focus::before,
.brand .slick-next:hover::before,
.brand .slick-next:focus::before {
    color: #FF6F61;
}

.brand .slick-prev::before,
.brand .slick-next::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 30px;
    color: #000000;
}

.brand .slick-prev::before {
    content: "\f104";
}

.brand .slick-next::before {
    content: "\f105";
}
.brand-slider {
    display: flex;
    /*transition: .5s;
    border-radius: 4px;
    text-align: center;*/
    animation-name: move;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}